header {
    @include breakpoint(MOBILE){
        margin-bottom: 20px;
    }
    @extend %clearfix;

    h1 {
        float: left;
        @include breakpoint(MOBILE){
            margin-bottom: 0;
            float: none;
            text-align: center;
        }
    }

    h4 {
        margin: 11px 0 0 10px;
        float: left;
        @include breakpoint(MOBILE){
            margin: 0;
            float: none;
            text-align: center;
        }
    }

    .icon-logo_xbox_one {
        width: 175px;
        height: 36px;
        float: right;
        @include breakpoint(MOBILE){
            margin: 0 auto 5px;
            float: none;
        }
    }
}