nav{

    margin-bottom: 20px;

    ul{
        @extend %clearfix;
        li {
            ;
            display: inline-block;
            float: left;
            list-style: none;
            background: $purple;
            border-right: 1px solid $dark-gray;
            @extend %unica;

            @include breakpoint(TABLET){
                width: 100%;
                float:none;
                border-right: 0;
                border-bottom: 1px solid $dark-gray;
            }

            a {
                display: block;
                padding: 10px 20px;
                cursor:pointer;
                color: $white;
            }

            &.active {
                background: $green;
            }

            &:last-child {
                border: 0;
            }
        }
    }
}