<section class="add-game">
    <h2>Suggest a Game</h2>
    <div class="game">
        <form data-ng-submit="submitForm()">
            <div class="success" data-ng-show="success" >{{ successMessage }}</div>
            <div class="error" data-ng-show="error">{{ errorMessage }}</div>
            <p>Suggest a game.</p>
            <input type="text" name="title" placeholder="Title" data-ng-model="addGameData.title" />
            <button type="submit">Submit</button>
        </form>
    </div>
</section>