<section class="want-games set-to-own">
    <h2>Set Owned</h2>
    <img class="preloader" src="static/images/svg/preloader.svg" alt="loading" data-ng-show="!dataRecieved" />
    <div class="notification" ng-show="zeroResults">
        <span>There is currently no games to set to owned.</span>
    </div>
    <div class="game" data-ng-repeat="game in wantGames | orderBy:'votes':true"  data-ng-click="onClick($event, game)">
        <h3>{{ game.title }}</h3>
        <span>(Votes: {{ game.votes }})</span>
        <button>Owned</button>
    </div>
</section>