input {
    padding: 3px 10px;
    color: $dark-gray;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    color: $white;
    border: 3px solid $yellow;
    background-color: $green;

    &:disabled {
        border: 3px solid $gray;
        background-color: $purple;
    }
}